body {
    background-image: url("..static/css/k-z-MylFaZv-7l0-unsplash.jpg");

   
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #f1f9f9;
}

a:hover {
    color: #f0f0f0;
  }
  